// Defaults
$box-shadow : rgba(0,0,0,0.2);
$no-border : transparent;

// Main Body
$body-bg : rgba(0, 0, 0, 0.05);
$body-color: #111;

// Body content
$body-content-bg : #FFFFFF;

// Header
$header-bg : #FFFFFF;


// Flags
$info-bg: #17a2b8;
$positive-bg: #28a745;
$negative-bg: #dc3545;
$warn-bg: #6c757d;
$flag-text-color: #FFFFFF;

// Summary Card
$summary-card-bg: #7189bf;
$summary-card-color: #FFFFFF;
$summary-card-shadow-color: $box-shadow;

// Card
$border-color : rgba(0, 0, 0, 0.1);


// Text colors
$primary-color : rgb(0,0,0);
$primary-dark-color : rgba(0,0,0,0.84);
$primary-light-color : rgba(0,0,0,0.54);

// Input elements
$input-border-color : rgba(0, 0, 0, 0.1);
$button-normal-color : #FFFFFF;

