$font-familiy : nunito-sans-light;
$display-4:     300 112px/112px $font-familiy;
$display-3:     400 56px/56px $font-familiy;
$display-2:     400 45px/48px $font-familiy;
$display-1:     400 34px/40px $font-familiy;
$headline:      400 24px/32px $font-familiy;
$title:         500 20px/32px $font-familiy;
$subheading-2:  500 16px/28px $font-familiy;
$subheading-1:  400 15px/24px $font-familiy;
$body-2:        500 14px/24px $font-familiy;
$body-1:        400 14px/20px $font-familiy;
$caption:       400 12px/20px $font-familiy;
$button:        500 14px/14px $font-familiy;
$input:         inherit;
