<div class="referrals-list">
    <div class="referral-details-item" *ngFor="let position of positions">
      <div class="referral-item-first-line">
        <div class="referral-item-title">{{position.positionName}}</div>
        <div class="referral-item-status">
          <div class="referral-item-status-flag">{{position.postedon}}</div>
        </div>
      </div>
      <div class="referral-item-second-line">
          <div class="referral-item-subtitle">{{position.location}}</div>
          <div class="referral-item-date">{{position.appliedOn}}</div>
      </div>
    </div>
</div>