<div class="body-content">
    <div class="section-heading position-section-heading">Open Positions (20)</div>
    <div class="referrals-list">
        <div class="referral-details-item" *ngFor="let position of positions" (click)="openPostionDetails(position, $event)">
          <div class="referral-item-first-line">
            <div class="referral-item-title">{{position.positionName}}</div>
            <div class="referral-item-status">
              <div class="referral-item-status-flag" [ngClass]="{'flag-info' : position.status == 2, 
              'flag-success' : position.status == 1, 
              'flag-error' : position.status == 3
    }">{{position.status | jobstatus}}</div>
            </div>
          </div>
          <div class="referral-item-second-line">
              <div class="referral-item-subtitle">{{position.location}}</div>
              <div class="referral-item-date">{{position.postedon | toDays}}</div>
          </div>
        </div>
    </div>
</div>