@font-face{
    font-family: "nunito-sans-light";
    src: url("assets/fonts/NunitoSans-Light.ttf");
}

@font-face{
    font-family: "nunito-sans-regular";
    src: url("assets/fonts/NunitoSans-Regular.ttf");
}

@font-face{
    font-family: "nunito-sans-bold";
    src: url("assets/fonts/NunitoSans-Bold.ttf");
}