@import "../../../assets/scss/_default-theme.scss";

.header {
    display: flex;
    height: 5rem;
    margin: 0 auto;
    background: $header-bg;
    width: 100%;
    box-shadow: 0 2px 8px 0 $box-shadow;
}

img.company-logo-src {
    height: 100%;
}

.header-menu {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-menu-item {
    flex-wrap: nowrap;    
    justify-content: center;
    align-content: space-between;
    text-align: center;
    padding: 1rem;
}

.header-menu-item-name{
    cursor: pointer;
    &:hover{
        border-bottom: 3px solid #563d7c;
        transition: border-color 0.4s ease;
    }
}

.header-menu-item-name {
    border-bottom: 3px solid $no-border;
}

.header-menu-item-name.active {
    border-bottom: 3px solid #563d7c;
}


@media (min-width: 1025px) {
    .header {
        width: 85%;
    }
    .header-menu-item {
        padding: 2rem;
    }   
}