@import "../../../assets/scss/_default-theme.scss";

.story-details {
    width: 100%;
    max-width: 768px;
    margin: auto;
}

.story-image-src {
    width: 100%;
}

.story-title {
    font: $display-1;
    margin: 1em 0 1em 0;
}

.story-author-details {
    font: $body-2;
    margin: 1em 0 1em 0;
}

.story-image {
    margin: 2em 0 2em 0;
}

.story-content {
    margin: 0 0 2em 0;
    line-height: 2em;
    font: $title;
    text-align: left;
    color: $primary-light-color;
    white-space: normal;
    word-break: break-word;
}

.story-time {
    color: $primary-light-color;
    font: $caption;
}

.preview-mode {
    margin-top: 1rem; 
    font-size: 8px;
}

@media (min-width:1025px){
    .preview-mode {
        padding: 0px;
    }   
}