.story-details {
    width: 100%;
    max-width: 768px;
    margin: auto;
}

.story-image-src {
    width: 100%;
}

.story-title {
    font-size: 2.5em;
    margin: 1em 0 1em 0;
}

.story-author-details {
    font-size: 1em;
    margin: 1em 0 1em 0;
}

.story-image {
    margin: 2em 0 2em 0;
}

.story-content {
    margin: 0 0 2em 0;
    line-height: 2em;
    font-size: 1.25em;
    text-align: justify;
    color: rgba(0, 0, 0, 0.84);
    font-weight: 400;
}

.story-time {
    color: rgba(0, 0, 0, 0.54);
}

.preview-mode {
    margin-top: 1rem; 
    font-size: 8px;
}

@media (min-width:1025px){
    .preview-mode {
        padding: 0px;
    }   
}