<div class="body-content">
  <div class="referrals-summary">
    <div class="summary-card">
      <div class="summary-card-head">
        <div class="summary-card-cell">
          <div class="summary-card-cell-head">
            Referrals
          </div>
          <div class="summary-card-cell-body">
            25
          </div>
        </div>
      </div>
      <div class="summary-card-body">
        <div class="summary-card-cell">
          <div class="summary-card-cell-head">
            Applied
          </div>
          <div class="summary-card-cell-body">
            16
          </div>
        </div>
        <div class="summary-card-cell">
            <div class="summary-card-cell-head">
              Hired
            </div>
            <div class="summary-card-cell-body">
              12
            </div>
          </div>
          <div class="summary-card-cell">
              <div class="summary-card-cell-head">
                In Process
              </div>
              <div class="summary-card-cell-body">
                2
              </div>
            </div>
      </div>
    </div>
  </div>
  <div class="referrals-list">
      <div class="section-heading">Referrals (10)</div>
      <div class="referral-details-item" *ngFor="let referral of referrals">
        <div class="referral-item-first-line">
          <div class="referral-item-title">{{referral.name}}</div>
          <div class="referral-item-status">
            <div class="referral-item-status-flag" [ngClass]="{'flag-info' : referral.status == 1, 
            'flag-progress' : referral.status == 2, 
            'flag-success' : referral.status == 3, 
            'flag-error' : referral.status == 4
  }">{{referral.status | status}}</div>
          </div>
        </div>
        <div class="referral-item-second-line">
            <div class="referral-item-subtitle">{{referral.positionName}}</div>
            <div class="referral-item-date">{{referral.appliedOn | date : "MMM d, y"}}</div>
        </div>
      </div>
  </div>
</div>