/* You can add global styles to this file, and also import other style files */
@import "assets/fonts/fonts.scss";
@import "assets/scss/_default-theme.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html{
    font-family: $font-familiy;
    height: 100%;
}


body{
    margin: 0px;
    background: $body-bg;
    height: 100%;
}
.card {
    margin: auto auto 1.25rem auto ;
}

/* Summary card */

.summary-card {
    width: 100%;
    max-width: 35rem;
    background: $summary-card-bg;
    color: $summary-card-color;
    height: 12.5rem;
    border-radius: 0.25rem;
    padding: 1.25rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 $box-shadow;
    &:hover {
        box-shadow: 0 8px 16px 0 $box-shadow;
    }
}

.summary-card-head {
    flex: 1;
    display: flex;
    align-items: center;
}

.summary-card-body {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.summary-card-cell-head {
    font: $subheading-1;
    padding-bottom: 0.5rem;
}

.summary-card-cell-body{
    font: $title;
    padding-bottom: 0.5rem;
}

.summary-card-cell {
    flex-basis: 35%;
    text-align: center;
}

.summary-card-head {
    .summary-card-cell{
        flex-basis: 100%;
    }
}

.summary-card-cell-image{
    height: 1rem;
    width: 1rem;
    vertical-align: middle;
}

.summary-head-cell-image{
    width: 1rem;
}


.body-content {
    width: 100%;
    margin: auto;
    background: $body-content-bg;
    padding: 1rem;
    min-height: calc(100% - 5rem);
}

@media (min-width: 1025px) {
    .body-content {
        width: 85%;
        padding: 3rem;
    }   
}

.section-heading {
    padding: 2rem;
    font: $title;
    padding-left: 0;
}

// List

.referral-details-item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    cursor: pointer;
    box-shadow: 0 2px 8px 0 $box-shadow;
    margin-bottom: 1rem;
    border-radius: 0.25rem; 
    &:hover {
        box-shadow: 0 8px 16px 0 $box-shadow;
    }
}

.referral-item-first-line {
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
}

.referral-item-second-line {
    display: flex;
    padding: 0.5rem 0 0.5rem 0;
    font: $body-1;
    color: $primary-light-color;
}

.referral-item-title {
    flex: 1;
    font: $subheading-2;
    color: $primary-dark-color;
}

.referral-item-status {
    flex: 1;
    text-align: right;
}

.referral-item-subtitle {
    flex: 1;
}

.referral-item-date {
    flex: 1;
    text-align: right;
}

@media (min-width: 1025px){
    .referrals {
        width: 85%;
    }
}

.referral-item-status-flag {
    width: 6rem;
    float: right;
    text-align: center;
    color: $flag-text-color;
    border-radius: 0.2rem;
    font: $body-1;
    padding: 0.05rem;
}

.flag-info {
    background: $info-bg;
}

.flag-success {
    background: $positive-bg;
}

.flag-progress {
    background: $warn-bg;
}

.flag-error {
    background: $negative-bg;
}